<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8">
    <title>Form</title>
  </head>
  <body>
    <h1><%=titre%></h1>
    <form method="post" action="https://localhost:8080/">
    <table>
    <tr><td>Nom</td>
        <td><imput type="text" id="nom" name="nom"></td><tr>
    <tr><td>Mot de passe</td>
        <td><imput type="password" id="mdp" name="mdp"></td><tr>
    <tr><tdh>
        <td><imput type="sortant" value="envoyer"></td><tr>
	</tdh>
    </form>
  </body>
</html>